@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/fb0db311486a9694b89aa39fbd55ff53.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/9381e130e62418430feff7213033d880.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/ba9679a5a92c1173ccb47416d0baf4a7.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/8ba63f525ea17db5e360b8122a09c404.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/9406dc2963fc861f9caec4e24b3206d7.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/341d10574bdd4a936768fc9099f40b00.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/f258da6becbd7231fe8325d73b5d69c2.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/1e0482116f996ff5531be5ab9e2dec34.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/e2d06834b7187a7d0540eedb366ef4cd.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/86fb48f2bf21def9cc76aec3cf470c87.woff) format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/ed79bda0b33643af80e9844a7dacdb16.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/5d99a0ba275aeeceb64d140b099f137b.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/9d423c2d459f3d35f8510d6f870480c6.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/e92e4501a500d49df37c148281b12621.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/e4872be1375e215e4cd692ee035e2133.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/0a852fa4ebd71861a0464c47e03d0aa1.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/896ac4b589feb0439048201e6f7849a0.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/8ba9af1804a4f7d5e34a71574cb4c18a.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/67826ef61fe4fa595fc7fbd039373718.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/c5d030ac888e904da61f0696b99bee69.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/120e0821c63c851966664b682c74e033.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/64c0e9b3a8b519f0a2b00e0bdcca7bf6.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/473b8f87921fdb77708d930b8f0d9096.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/7f1282fc3ec841240ac33fc3a87cda99.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/6e6702a0216ccdcb6136012286e12a64.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/8f6c14b2f521306c492b5cd0f24d2c70.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/48ee0af6345e7775f447ce7e20851d41.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/aab7ea040f838c6a6fe727c49751e0a6.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/89ec45b24392c73fa195d5bec71fe426.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/90887f5426a48971759484cd6bc2edc0.woff) format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gellix";
  src: url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/5cacdc462677520537c603cb814d3a97.woff2) format("woff2"), url(https://www.vpcgroup.com/app/themes/vpcgroup/theme/dist/5430f5f4ffb3db30a7c35cbc134901af.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$black: #000;
$white: #fff;
$red: #e9222d;
$lightgreen: #569fa6;
$pink: rgba(#e9222d, 0.43);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gellix";
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;

  &.page-home {
    color: $white;
    background-color: #041e42;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.container {
  max-width: 1442px;
  padding: 0 16px;
  margin: 0 auto;
}

.image-ratio {
  position: relative;
  width: 100%;

  > img,
  > video,
  > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--16-9 {
    padding-top: 56.25%;
  }

  &--square {
    padding-top: 100%;
  }

  &--contain {
    > img,
    > video,
    > iframe {
      object-fit: contain;
      object-position: center;
    }
  }
}

h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300px;
  line-height: 1;

  @media (max-width: 992px) {
    font-size: 10px;
  }
}

h2 {
  font-size: 56px;
  line-height: 120%;
  font-weight: 500;

  @media (max-width: 992px) {
    font-size: 40px;
  }
}

h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: 991.98px) {
    font-size: 32px;
  }
}

h4 {
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;
}

.btn {
  position: relative;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  padding: 9px 12px 10px;
  text-align: center;
  outline: none;
  border-radius: 0;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s all ease;

  &-blue {
    color: $white;
    background-color: rgb(0, 70, 128);
    border-color: rgb(0, 70, 128);

    &:hover {
      color: $white;
      background-color: #041e42 !important;
      border-color: #041e42 !important;
    }
  }
}

.site-header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 19px 0;
  z-index: 999;
  color: $white;
  background-color: #00b1da;
  background: linear-gradient(0deg, #041e42, #004680 100%, #00b1da);
  background-size: 100% 100%;
  background-position-y: center;
  transition: background-size 0.3s ease-in-out, background-position 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background-size 0.3s ease-in-out, background-position 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, background-size 0.3s ease-in-out, background-position 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

  @media (max-width: 992px) {
    padding: 16px 0;
    min-height: 62px;
  }

  .navbar {
    padding: 0;

    .navbar-toggler {
      border: 0;
      box-shadow: none;
      padding: 0;
      font-size: 0;
      line-height: 0;
      position: relative;
      z-index: 9;
    }

    .site-logo {
      font-size: 0;
      line-height: 0;
      width: 100%;
      max-width: 123px;
      position: relative;
      z-index: 9;

      @media (max-width: 992px) {
        max-width: 87px;
      }

      svg,
      img {
        width: 100%;
        height: auto;
      }
    }

    @media (max-width: 992px) {
      .navbar-collapse {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        min-height: calc(100vh);
        background: #041e42;
        padding: 20px;
        transform: translateX(-100%);
        transition: 0.1s all ease;
        padding: 80px 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: auto !important;

        &.show {
          transform: translateX(0%);
        }
      }
    }

    .navbar-nav {
      @media (max-width: 992px) {
        margin-left: 0 !important;
      }

      .nav-item {
        &:not(:last-child) {
          margin-right: 20px;
        }

        .nav-link {
          font-size: 16px;
          font-weight: 400;
          opacity: 1;
          color: $white;
          transition: 0.3s all ease;

          @media (max-width: 992px) {
            color: #00b1da;
            font-size: 24px;
            font-weight: 600;
            padding: 6px 0;
          }

          &:hover,
          &.active {
            color: #00d9ef;
          }
        }
      }
    }
  }
}

.hamburger[aria-expanded="true"]:hover,
.hamburger:hover {
  opacity: 1;
}

.hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger[aria-expanded="true"] .hamburger-inner:after,
.hamburger[aria-expanded="true"] .hamburger-inner:before {
  background-color: #fff;
}

.hamburger-box {
  width: 35px;
  height: 21px;
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 35px;
  height: 3px;
  background-color: #fff;
  border-radius: 0;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner:after,
.hamburger-inner:before {
  content: "";
  display: block;
}

.hamburger-inner:before {
  top: -9px;
}

.hamburger-inner:after {
  bottom: -9px;
}

.hamburger--spring .hamburger-inner {
  top: 1.5px;
  transition: background-color 0s linear 0.13s;
}

.hamburger--spring .hamburger-inner:before {
  top: 9px;
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner:after {
  top: 18px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring[aria-expanded="true"] .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring[aria-expanded="true"] .hamburger-inner:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 9px, 0) rotate(45deg);
  transform: translate3d(0, 9px, 0) rotate(45deg);
}

.hamburger--spring[aria-expanded="true"] .hamburger-inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s, -webkit-transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
  -webkit-transform: translate3d(0, 9px, 0) rotate(-45deg);
  transform: translate3d(0, 9px, 0) rotate(-45deg);
}

.site-hero {
  position: relative;

  &__inner {
    position: relative;
    padding: 60px 0 0;
    height: calc(100vh - 120px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: $white;

    @media (max-width: 992px) {
      padding: 0;
      height: auto;
      display: block;
    }
  }

  &--bg {
    pointer-events: none;

    @media (max-width: 992px) {
      position: relative;
      padding-top: 56%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }

    .the-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.05);
      z-index: 2;
    }
  }

  .container {
    position: relative;
    z-index: 3;

    @media (max-width: 992px) {
      padding: 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 720px;
    padding: 75px 60px 60px 9.375vw;
    background: #27aae1;
    background: linear-gradient(7deg, #00b1da -10%, #00d9ef 110%);
    color: #041e42;
    transform: translateY(40px);
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 992px) {
      transform: translateY(0);
      padding: 30px 16px;
      max-width: 100%;
    }

    h2 {
      color: $white;
    }
  }

  .bg-fade {
    &.fade-1 {
      height: 80px;
      background: linear-gradient(90deg, #0e1f42, #27aae1 130%);

      @media (max-width: 992px) {
        display: none;
      }
    }

    &.fade-2 {
      opacity: 0.5;
      height: 120px;
      -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      transform: translateY(-40px);
      background: linear-gradient(-90deg, rgba(39, 170, 225, 0.5), rgba(0, 0, 0, 0) 70%);

      &::after {
        opacity: 1;
        content: "";
        display: block;
        height: 80px;
        width: 100%;
        transform: translateY(0);
        background: linear-gradient(90deg, rgba(39, 170, 225, 0.5) 30%, rgba(0, 0, 0, 0));
      }
    }
  }

  &--history {
    .site-hero__content {
      margin-left: auto;
      padding: 75px 9.375vw 60px 60px;

      @media (max-width: 992px) {
        padding: 30px 16px;
      }
    }
  }
}

.our-story {
  position: relative;
  padding: 60px 0;

  @media (max-width: 992px) {
    padding: 48px 0;
  }

  .container {
    max-width: 1102px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__media {
    .image-ratio {
      padding-top: 51.29%;
    }
  }
}

.image-with-content {
  position: relative;
  padding: 60px 0;

  @media (max-width: 991.98px) {
    padding: 48px 0;
  }

  @media (max-width: 767.98px) {
    padding: 8px 0;
  }

  .container {
    @media (max-width: 767.98px) {
      padding: 0;
    }
  }

  &__inner {
    position: relative;
  }

  &__image {
    max-width: calc(100% - 150px);

    @media (max-width: 1200px) {
      transform: translateY(0);
      max-width: calc(100%);
    }

    @media (max-width: 767.98px) {
      padding-right: 16px;
    }
  }

  &__content {
    width: 100%;
    max-width: 720px;
    padding: 75px 9.375vw 60px 60px;
    background: #27aae1;
    background: linear-gradient(7deg, #00b1da -10%, #00d9ef 110%);
    color: #041e42;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1200px) {
      margin-right: -16px;
      max-width: 470px;
      padding: 32px;
    }

    @media (max-width: 767.98px) {
      position: relative;
      top: unset;
      transform: none;
      max-width: calc(100% - 16px);
      margin: 0;
      margin-left: auto;
      margin-top: -30px;
      padding: 30px 16px;
    }

    h6 {
      margin-bottom: 12px;
    }

    h3 {
      color: $white;
      margin-bottom: 20px;
    }

    .btn-wrapper {
      margin-top: 16px;
      width: 100%;
      max-width: 350px;

      .btn {
        display: block;
      }
    }
  }

  &.reverse-it {
    .image-with-content__image {
      margin-left: auto;

      @media (max-width: 767.98px) {
        padding-right: 0;
        padding-left: 16px;
      }
    }

    .image-with-content__content {
      left: 0;
      right: auto;
      padding: 75px 60px 60px 9.375vw;

      @media (max-width: 1200px) {
        margin-left: -16px;
        padding: 32px;
      }

      @media (max-width: 767.98px) {
        margin: 0;
        margin-left: 0;
        margin-top: auto;
        margin-top: -30px;
      }
    }
  }
}

.our-news {
  position: relative;
  padding: 60px 0;

  @media (max-width: 991.98px) {
    padding: 48px 0;
  }

  .container {
    max-width: 1102px;
  }

  &__title {
    margin-bottom: 24px;

    h6 {
      margin-bottom: 6px;
    }

    h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 120%;
      color: rgb(0, 169, 206);

      @media (max-width: 991.98px) {
        font-size: 32px;
      }
    }
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 991.98px) {
    gap: 24px;
  }

  .text-wrapper {
    h4 {
      margin-bottom: 12px;
      color: rgb(0, 169, 206);
    }

    .link-wrapper {
      margin-top: 24px;

      @media (max-width: 991.98px) {
        margin-top: 18px;
      }

      a {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(0, 169, 206);
        text-underline-offset: 2px;

        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}

.text-content {
  .bg-fade {
    opacity: 0.5;
    height: 120px;
    -webkit-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    background: linear-gradient(90deg, rgba(39, 170, 225, 0.5), rgba(0, 0, 0, 0) 70%);

    &::after {
      opacity: 1;
      content: "";
      display: block;
      height: 80px;
      width: 100%;
      -webkit-transform: translateY(40px);
      -ms-transform: translateY(40px);
      transform: translateY(40px);
      background: linear-gradient(-90deg, rgba(39, 170, 225, 0.5) 30%, rgba(0, 0, 0, 0));
    }
  }

  &__inner {
    position: relative;
    padding: 106px 0;
    background: linear-gradient(90deg, #0e1f42, #27aae1 130%);

    .container {
      max-width: 1102px;
    }

    .text-wrapper {
      h6 {
        margin-bottom: 12px;
      }

      h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 20px;
        color: #00a9ce;

        @media (max-width: 991.98px) {
          font-size: 32px;
        }
      }
    }
  }
}

.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #004680;
  font-size: 0.875rem;
  color: #fff;
  background-image: linear-gradient(31deg, #041e42 -10%, #004680 43%, #00b1da 110%);

  @media (max-width: 991.98px) {
    background-image: linear-gradient(161deg, #041e42 -10%, #004680 43%, #00b1da 110%);
  }

  .container {
    max-width: 1102px;
  }

  p,
  a {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    width: fit-content;
  }

  a {
    text-decoration: none;
    color: $white;
  }

  ul {
    list-style: none;

    li {
      color: $white;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 22px;

    .site-logo {
      width: 100%;
      max-width: 87px;
      display: block;

      svg,
      img {
        width: 100%;
        height: auto;
      }
    }

    .site-address {
      ul {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        grid-area: 8px;
      }
    }

    .site-socials {
      ul {
        display: flex;
        align-items: center;
        gap: 12px;

        li {
          a {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(0, 177, 218);
            transition: 0.3s all ease;

            &:hover {
              background-color: rgb(0, 139, 170);
            }

            svg,
            img {
              width: 100%;
              max-width: 18px;
              height: auto;
            }
          }
        }
      }
    }
  }

  &__links {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: 100%;

    &--list {
      ul {
        display: flex;
        flex-direction: column;
        gap: 8px;

        li {
          a {
            text-underline-offset: 2px;

            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: auto;

    @media (max-width: 991.98px) {
      margin-top: 48px;
    }
  }
}

.history-timeline {
  position: relative;
  padding: 48px 0 64px;

  &__title {
    margin-bottom: 48px;

    .container {
      max-width: 1084px;
    }

    h6 {
      color: #041e42;
      margin-bottom: 6px;
    }

    h2 {
      color: #00a1c4;
    }
  }

  .timeline {
    padding: 0;
    position: relative;
    overflow-x: auto;

    @media screen and (max-width: 992px) {
      margin: 0 -16px;
    }
  }

  .timeline__scroll {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1100px) {
    .timeline__scroll {
      margin-left: calc(50vw - 550px);
    }
  }

  @media screen and (min-width: 1440px) {
    .timeline__scroll {
      margin-left: 165px;
    }
  }

  .timeline__container {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    padding-left: 15px;
  }

  .timeline__line {
    z-index: 2;
    width: calc(100% + 15px);
    background: linear-gradient(180deg, #00d9ef, #00b1da);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: 767px) {
    .timeline__line {
      margin-left: -15px;
      padding-left: 15px;
    }
  }

  .timeline__content {
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 1.25rem;
    max-width: calc(100vw - 30px);
  }

  .timeline__row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .timeline-event,
  .timeline__row {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .timeline-event {
    position: relative;
    width: 366.66667px;
    min-width: 366.66667px;
    padding-left: 45px;
  }

  @media (max-width: 575px) {
    .timeline-event {
      width: 275px;
      min-width: 275px;
    }
  }

  .timeline-event:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 1px;
    background-color: #00b1da;
    z-index: -1;
  }

  .timeline-event:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #00b1da;
    border-radius: 50%;
    z-index: -1;
  }

  .timeline-event__content {
    margin-right: 30px;
    margin-bottom: 15px;
  }

  .timeline-event__headline {
    color: #00b1da;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 8px;
  }

  .timeline-event__description {
    font-size: 0.875rem;
    margin-bottom: 8px;
  }

  .timeline__row--bottom {
    margin-left: 244.44444px;
  }

  @media (max-width: 575px) {
    .timeline__row--bottom {
      margin-left: 120px;
    }
  }

  .timeline__row--bottom .timeline-event {
    padding-top: 58px;
  }

  .timeline__row--bottom .timeline-event:before {
    height: 60px;
  }

  .timeline__row--bottom .timeline-event:after {
    top: 60px;
  }

  .timeline__prompt {
    color: #00a9ce;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .content-block--main-content:first-of-type .container {
    padding-top: 66px;
  }

  .content-block--main-content:last-of-type .container {
    padding-bottom: 66px;
  }

  .content-block--main-content .container > .row {
    margin-bottom: -30px;
  }

  .content-block--main-content .columns.col,
  .content-block--main-content .columns.col.columns--with-sidebar {
    margin-bottom: 0;
  }

  .content-block--main-content .col {
    margin-bottom: 30px;
  }

  .content-block--main-content .col .rich_content .embed-responsive,
  .content-block--main-content .col .rich_content img {
    display: inline-block;
    margin-bottom: 20px;
  }

  .content-block--main-content .col p > image:last-child,
  .content-block--main-content .col p > image:only-child {
    margin-bottom: 0;
  }

  .content-block--main-content .rich_content > :last-child,
  .content-block--main-content .rich_content > :only-child {
    margin-bottom: 0 !important;
  }

  .content-block--main-content span.label {
    display: block;
  }

  .content-block--main-content .bg-color > .container,
  .content-block--main-content .bg-image > .container {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .content-block--main-content .bg--blue-light-navy .container,
  .content-block--main-content .bg--navy--blue-light .container {
    padding-top: 106px;
    padding-bottom: 106px;
  }

  .icons-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  * + .icons-row {
    margin-top: 30px;
  }

  .icon__description {
    display: block;
    font-size: 1rem;
    color: #041e42;
    font-weight: 700;
    width: 100%;
  }

  .icon__col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    width: 100%;
    max-width: 160px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .icon__col--inline {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 255px;
    width: 100%;
  }

  .icon__col--inline .icon__description {
    margin-left: 30px;
  }

  .icon__col--inline .icon__image-wrapper {
    margin-bottom: 0;
  }

  .icon__image-wrapper {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 65px;
    height: 65px;
    margin-bottom: 15px;
  }

  .icon__image {
    -o-object-fit: cover;
    object-fit: cover;
    width: auto !important;
  }

  .embed-map {
    width: 100%;
    height: 500px;
  }

  @media (min-width: 992px) {
    .embed-map {
      height: 645px;
    }
  }

  .video-popup__link {
    position: relative;
  }

  .video-popup__link a + .fa-play-circle,
  .video-popup__link a + noscript + .fa-play-circle {
    margin-left: 5px;
    color: #004680;
    opacity: 0.5;
    font-size: 1rem;
    width: 1em;
    height: 1em;
    position: relative;
    display: inline-block;
  }

  .video-popup__link img + .fa-play-circle,
  .video-popup__link img + noscript + .fa-play-circle,
  .video-popup__link img + span.sr-only + .fa-play-circle {
    color: #fff;
    opacity: 0.5;
    font-size: 5rem;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .video-popup__thumbnail {
    margin-bottom: 30px;
  }

  .search-result__wrapper {
    margin: 15px 0;
  }

  .search-results > :nth-child(2n) {
    background-color: #f7f7f7;
  }

  #search-results {
    margin-bottom: 60px;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    padding-top: 60px;
  }

  @media (min-width: 576px) {
    body {
      padding-top: 80px;
    }
  }

  body.admin-bar {
    padding-top: 0;
  }

  body.scroll-lock {
    overflow: hidden;
  }

  body.scroll-lock footer,
  body.scroll-lock main {
    visibility: hidden;
    display: none;
  }

  body :focus {
    outline: none;
  }

  body.user-is-tabbing :focus {
    outline: 2px solid #7aacfe !important;
    outline: 5px auto -webkit-focus-ring-color !important;
  }

  .editor-only {
    display: none !important;
  }

  @media (min-width: 768px) {
    .mobile-only {
      display: none !important;
    }
  }

  @media (max-width: 767px) {
    .desktop-only {
      display: none !important;
    }
  }
}

.image-with-text-over-image {
  position: relative;

  &__image {
    position: relative;
    height: 100%;

    @media (max-width: 991.98px) {
      padding-top: 56%;
    }

    img,
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text-over-image {
    padding: 100px 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $white;
    position: relative;

    @media (max-width: 991.98px) {
      padding: 32px 16px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
    }

    .text-wrapper {
      position: relative;
      width: 100%;
      max-width: 564px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .icon-wrapper {
        font-size: 0;
        line-height: 0;
        margin-bottom: 24px;
        width: 100%;
        max-width: 196px;

        @media (max-width: 991.98px) {
          max-width: 120px;
        }

        img,
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.image-showcase {
  position: relative;
  padding: 64px 0 32px;

  .container {
    max-width: 1032px;
  }

  &__text {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
  }
}

.video-showcase {
  position: relative;
  padding: 32px 0 64px;

  .container {
    max-width: 1032px;
  }
}

.text-over-image {
  position: relative;
  padding: 80px 0;
  color: $white;

  @media (max-width: 991.98px) {
    padding: 60px 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
  }

  &--bg {
    pointer-events: none;

    .the-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
      z-index: 2;
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .icon-wrapper {
      width: 100%;
      max-width: 148px;

      @media (max-width: 991.98px) {
        max-width: 110px;
      }

      img,
      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    width: 100%;
    max-width: 507px;

    @media (max-width: 991.98px) {
      margin: 0 auto;
    }

    h3 {
      margin-bottom: 24px;
    }

    .partners-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;
      margin-top: 32px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 12px;

        li {
          width: 100%;
          max-width: 80px;

          img,
          svg {
            width: 100%;
            height: auto;
          }
        }
      }

      h6 {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.about-company {
  position: relative;
  padding: 64px 0 30px;

  @media (max-width: 991.98px) {
    padding: 60px 0 30px;
  }

  .container {
    max-width: 1000px;
  }

  &__image {
    .image-ratio {
      padding-top: 60%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 991.98px) {
      max-width: 600px;
      margin: 0 auto;
    }

    .site-logo {
      display: block;
      width: 100%;
      max-width: 100px;
      margin: 0 auto;
    }

    p {
      font-size: 14px;
    }
  }
}

.showcase-slider {
  position: relative;
  padding: 30px 0 64px;

  @media (max-width: 991.98px) {
    padding: 30px 0 60px;
  }

  &.py-change {
    padding: 64px 0;

    @media (max-width: 991.98px) {
      padding: 60px 0;
    }
  }

  .container {
    max-width: 1000px;
  }

  &__swiper {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          width: 60%;

          @media (max-width: 991.98px) {
            width: 100%;
          }
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 24px;
        color: white;
      }
    }
  }
}

.text-over-image-slider {
  position: relative;

  .swiper {
    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-size: 24px;
      color: white;
    }

    .swiper-pagination {
      bottom: 20px;
    }

    .swiper-pagination-bullet {
      background: $white;
    }

    .swiper-pagination-bullet-active {
      background-color: $white;
    }
  }

  &__inner {
    position: relative;
  }

  &__image {
    .image-ratio {
      padding-top: 30%;

      @media (max-width: 991.98px) {
        min-height: 40vh;
      }
    }
    img {
      z-index: 1;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
      z-index: 2;
    }
  }

  &__text {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 32px;
    z-index: 3;
    text-align: center;
    color: $white;

    @media (max-width: 991.98px) {
      padding: 32px;
    }

    h6 {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;

      @media (max-width: 991.98px) {
        font-size: 16px;
      }
    }
  }
}

.company-stats {
  position: relative;
  padding: 56px 0;
  background-color: #041e42;
  color: $white;
  text-align: center;

  .title-wrapper {
    @media (max-width: 767.98px) {
      width: 100%;
      max-width: 250px;
      margin: 0 auto;

      h6 {
        line-height: 1.6;
      }
    }
  }

  .container {
    max-width: 1102px;
  }

  &__all {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 991.98px) {
      gap: 40px;
    }

    &--each {
      width: 25%;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      position: relative;

      @media (max-width: 991.98px) {
        width: 100%;
      }

      &:not(:last-child)::after {
        content: "";
        display: block;
        width: 1px;
        height: 60%;
        background-color: $white;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);

        @media (max-width: 991.98px) {
          height: 1px;
          width: 80%;
          top: unset;
          bottom: -24px;
          right: auto;
          left: 50%;
          transform: translateX(-50%) translateY(0);
        }
      }

      .stats-each {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      h6 {
        margin-top: auto;
        padding-top: 24px;
      }
    }
  }
}
